html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: url(../resources/background.jpg) no-repeat center / cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
