@page "/aboutme"
<div class="AboutMe">
    <h3>About Me</h3>
    <div class="Content">
        <p>
            Hello 👋!
        </p>
        <p>
            I'm Stefan, located in southern Germany, and I work as a Senior fullstack developer professionally. I also do some freelancing on the side.
        </p>
        <p>
            I'm a huge fan of C#, .NET, JavaScript and everything revolving around cloud, from Docker over Kubernetes up to Serverless. My career in computer science started in a more traditional way, by obtaining my Bachelor, but I'm pretty sure that most of the things I learned and picked up over the years were self taught, primarily out of curiosity for new technologies I can get my hands on. 
        </p>
        <p>
            On the tech side, my software development career started by checking out various different platforms and languages ranging from desktop technologies on C++, test automation, mobile development etc., but the one I really stuck with is Web development & cloud in general. I like the pace of the industry and the flexibility cloud technologies grant you, as well as how easy it is to connect applications with each other. On the flip side, I also love to dig into and examine existing technologies to really understand them from the ground up. You might catch me reading up framework source code for hours to figure out how a specific detail is implemented. I'm usually not satisfied with understanding things only "on the top level", since I'm a believer in the benefits of understanding at least 1-2 layers of abstractions below yourself.
        </p>
        <p>
            Since I like to dive into new concepts, a lot of my time and energy is spent on trying out prototypes, talking to other developers or just crawling around GitHub, trying to contribute to open source projects when possible.
        </p>
        <p>
            Besides technology and software engineering, I'm very interested in powerlifting as well as taking long hikes outside.
        </p>
        <p>
            I am always happy to help, collaborate, or teach people something new. If you think my skillset can help you, don't hesitate to send me a message.
        </p>
    </div>
</div>