@page "/cv"
<div class="CV">
    <h3>CV</h3>
    <div class="CVList">
        <section>
            <h2>EXPERIENCE</h2>
            
            <article>
                <h3>Senior Fullstack Engineer</h3>
                <p>@@ DeepL</p>
                <p>2024 - Current</p>
                <ul>
                    <li>Will be updated soon</li>
                </ul>
            </article>
            
            <article>
                <h3>Senior Fullstack Engineer</h3>
                <p>@@ SII Germany</p>
                <p>2022 - 2024</p>
                <ul>
                    <li>Development and Maintenance of an internal web presence with Kotlin, Quarkus & Angular from scratch</li>
                    <li>Maintaining a continuously integrated, message queue driven microservice development lifecycle with hands-on feature development and deployment in close contact with stakeholders</li>
                </ul>
            </article>
            
            <article>
                <h3>Fullstack Engineer</h3>
                <p>@@ TeamViewer</p>
                <p>2017 - 2022</p>
                <ul>
                    <li>Development and maintenance of a customer facing monolithical web presence with ASP.Net & React</li>
                    <li>Customer critical feature development and maintenance of an IAAS based monolithical application, providing infrastructure and guidance for multiple teams to develop and deploy features</li>
                    <li>Migration of several .Net Framework based monoliths to modern .Net 6 applications</li>
                    <li>Slicing mission critical monolithical implementations into smaller standalone-deployable microservices</li>
                    <li>Migration (Lift and Shift) of entire monolithical applications from .Net Framework to containerized .Net 6 applications</li>
                    <li>Establishing & Mentoring on partial migration of request & reply based systems to an event-based serverless distributed monolith</li>
                    <li>Modernizing & Rehauling several applications from legacy frontend stacks to a modern React based UI</li>
                    <li>Migration of KendoJS & KnockoutJS applications to a modern React & Redux stack</li>
                </ul>
            </article>
            
            <article>
                <h3>Freelancing</h3>
                <p>@@ Soccer Social Media platform</p>
                <p>2022 - Current</p>
                <ul>
                    <li>Development and Maintenance of a large soccer data provider backend, including weighting and consultation of data from various third party APIs</li>
                    <li>Implementation of a realtime system for converting soccer data into user-friendly assets</li>
                    <li>Implementation of video conversion features</li>
                </ul>
            </article>
            
            <article>
                <h3>Freelancing</h3>
                <p>@@ Video streaming platform</p>
                <p>2021 - 2022</p>
                <ul>
                    <li>Development of a responsive realtime video streaming platform</li>
                    <li>Implementation of 3D based AR try-on features</li>
                    <li>Implementing video stream quality checks</li>
                    <li>Implementing common real-time chat features like reactions, admin controls etc.</li>
                </ul>
            </article>
        </section>

    </div>
</div>