$buttonColor: #e8f1f0;

@mixin btn {
    background: $buttonColor;
    box-shadow: #c7c6c6 0 0 7px 2px;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: #ddd9d9 2px -2px 7px 2px;
    }
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out;
    gap: 2em;

    .Meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3em;

        @media (max-width: 900px) and (orientation: landscape) {
            flex-direction: row;
        }

        .ProfilePicture {
            height: 500px;
            width: 380px;
            background: url(resources/profilepicture.png);
            background-size: cover;
            border-radius: 20px;
            margin: 5px;
        }

        .MetaDescriptions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2.5em;
            
            .QuickAboutMe {
                display: flex;
                flex-direction: column;
                max-width: 500px;
                gap: 1.5em;
                
                > span:nth-child(1) {
                    align-self: center;
                    font-weight: bolder;
                }
            }

            .Heading {
                font-size: 2rem;
                font-family: fangsong;
                font-variant: small-caps;
                margin-bottom: unset;
            }

            .Description {
                text-align: center;
                font-weight: bold;
            }

            .InfoSection {                
                display: flex;
                flex-direction: column;
                gap: 0.8em;                
                width: 100%;

                @media (max-width: 900px) and (orientation: landscape) {
                    font-size: 0.7rem;
                }

                .InfoRow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}