@page "/skills"

<div class="Skills">
    <h3>Skills</h3>
    <div class="SkillsSection">
        <div class="SkillsList">
            <span>
                <Icon Name="@("fa-book")"></Icon>
                <span>Languages</span>
            </span>
            <ul>
                <li><b>C#</b></li>
                <li><b>JavaScript / TypeScript</b></li>
                <li><b>Kotlin</b></li>
                <li><b>CSS (Sass & Less)</b></li>
                <li><b>HTML</b></li>
                <li>Java</li>
                <li><i>Python</i></li>
                <li><i>C++</i></li>
                <li><i>Go</i></li>
            </ul>
        </div>
        
        <div class="SkillsList">
            <span>
                <Icon Name="@("fa-wrench")"></Icon>
                <span>Tech</span>
            </span>
            <ul>
                <li><b>.NET (Framework / Core / 8)</b></li>
                <li><b>ASP.NET (Framework / Core / 8)</b></li>
                <li><b>Web</b></li>
                <li><b>Cloud</b></li>
                <li><b>Clean Architecture</b></li>
                <li><b>Vertical Slice Architecture</b></li>
                <li><b>Microservices</b></li>
                <li><b>Docker</b></li>
                <li><b>Kubernetes</b></li>
                <li><b>Azure Functions</b></li>
                <li><b>Performance analysis</b></li>
                <li><b>TPL / Parallelization / Concurrency</b></li>
                <li><b>Distributed computing</b></li>
                <li><b>Message brokers (Kafka / AMQP)</b></li>
                <li><b>Testing</b></li>
                <li><b>React</b></li>
                <li><b>Angular</b></li>
                <li><b>Svelte</b></li>
                <li><b>Azure</b></li>
                <li><b>Databases (Sql, NoSql)</b></li>
                <li><b>Git</b></li>
                <li><b>Blazor</b></li>
                <li>Azure Service Fabric</li>
                <li>DDD</li>
                <li>NextJS</li>
                <li>AWS</li>
                <li>Playwright</li>
                <li>Ranorex</li>
                <li>Cypress</li>
                <li>Terraform</li>
                <li>And much more...</li>
            </ul>
        </div>
    </div>
    <span>
        Legend: <b>Main technology</b> - Reasonably Experienced - <i>Worked with it, but it's been a while</i>
    </span>
</div>