.Card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.5s ease-in-out;
  gap: 2em;
}
.Card .Meta {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
}
@media (max-width: 900px) {
  .Card .Meta {
    flex-direction: column;
  }
}
.Card .Meta .ProfilePictureContainer {
  height: 100%;
  width: 100%;
  margin: 5px;
  position: relative;
  flex: 1;
}
.Card .Meta .ProfilePictureContainer .ProfilePicture {
  position: absolute;
  border-radius: 20px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Card .Meta .MetaDescriptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
  flex: 1;
  flex-grow: 3;
}
@media (max-width: 900px) {
  .Card .Meta .MetaDescriptions {
    overflow-y: scroll;
  }
}
.Card .Meta .MetaDescriptions .Heading {
  font-size: 2rem;
  font-family: fangsong;
  font-variant: small-caps;
  margin-bottom: unset;
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList .QuickAboutMe {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1.5em;
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList .QuickAboutMe > span:nth-child(1) {
  align-self: center;
  font-weight: bolder;
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList .Description {
  text-align: center;
  font-weight: bold;
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList .InfoSection {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 100%;
}
@media (max-width: 900px) and (orientation: landscape) {
  .Card .Meta .MetaDescriptions .MetaDescriptionsList .InfoSection {
    font-size: 0.7rem;
  }
}
.Card .Meta .MetaDescriptions .MetaDescriptionsList .InfoSection .InfoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Container {
  background: #fafafa;
  place-self: center;
  border-radius: 15px;
  box-shadow: 0 0 13px 2px black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-columns: 8% 92%;
  grid-template-areas: "linktree content" "links links";
}
@media (min-width: 720px) {
  .Container {
    max-height: 60vh;
    max-width: 60vw;
  }
}
@media (max-width: 720px) {
  .Container {
    border-radius: unset;
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: 100%;
    grid-template-areas: "content" "links" "linktree";
    overflow-x: hidden;
  }
}
.Container .LinkTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  grid-area: linktree;
}
@media (max-width: 720px) {
  .Container .LinkTree {
    flex-direction: row;
    gap: 1em;
  }
}
.Container .LinkTree .LinkBubble {
  background: #e8f1f0;
  box-shadow: #c7c6c6 0 0 7px 2px;
  transition: box-shadow 0.2s ease-in-out;
  height: 48px;
  width: 48px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 3px;
}
.Container .LinkTree .LinkBubble:hover {
  box-shadow: #ddd9d9 2px -2px 7px 2px;
}
@media (max-width: 720px) {
  .Container .LinkTree .LinkBubble {
    height: 35px;
    width: 35px;
  }
  .Container .LinkTree .LinkBubble > img {
    height: 70%;
    width: 70%;
  }
}
.Container .LinkTree .LinkBubble img {
  height: 60%;
  width: 60%;
}
.Container .CardContainer {
  display: grid;
  place-items: center;
  grid-area: content;
  grid-template-rows: 100%;
  padding: 2em;
}
.Container .LinkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5em;
  align-items: center;
  grid-area: links;
}
.Container .LinkRow .LinkContainer {
  background: #e8f1f0;
  box-shadow: #c7c6c6 0 0 7px 2px;
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5em;
  gap: 0.5em;
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Container .LinkRow .LinkContainer:hover {
  box-shadow: #ddd9d9 2px -2px 7px 2px;
}
@media (max-width: 720px) {
  .Container .LinkRow .LinkContainer {
    width: 50px;
  }
  .Container .LinkRow .LinkContainer > span {
    display: none;
  }
}
.Container .LinkRow .LinkContainer.Selected > :not(i) {
  text-decoration: underline;
}

.BlazorWatermark {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 3px;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 5px;
  cursor: default;
  transition: background 0.3s ease-in-out;
}
@media (max-width: 720px) {
  .BlazorWatermark {
    display: none;
  }
}
.BlazorWatermark .MailIcon {
  color: mediumpurple;
}
.BlazorWatermark:hover {
  background: rgba(255, 255, 255, 0.4);
}
.BlazorWatermark ::deep span {
  font-size: 1rem;
}

/*# sourceMappingURL=MainLayout.razor.css.map */
