@inherits LayoutComponentBase

<div class="Container">
    <div class="CardContainer">
        @Body
    </div>
</div>
<span class="BlazorWatermark">
    <span>Made with</span>
    <MaterialIcon
        IconName="favorite"
        MaterialIconType="MaterialIconType.Filled"/>
    <span>and</span>
    <MaterialIcon
        IconName="alternate_email"
        MaterialIconType="MaterialIconType.Filled"/>
    <span>Blazor</span>
</span>